/* Width:never smaller than 300px  */
/* In between witdth :100% */
/* Width:Never bigger than 800px */
.wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    align-items: center;
}

.content {
    background-color: green;
    height: 200px;
    width: clamp(300px, 100%, 800px); /* clamp applied */
    border-radius: 10px;
}
