.container{
    width: 100%;
    height:100vh;
    display:grid;
    gap:15px 15px;
    background-color: antiquewhite;
    grid-template-columns:1fr;
}
@media (min-width:900px){
    .container{
        grid-template-columns:repeat(3,1fr);
    }

}
@media(max-width:900px)and(min-width:490px){
    .container{
        grid-template-columns:repeat(2,1fr) ;
    }

}

.box{
    background-color: aqua;
    border-radius:0.5rem;
}