
.container{
    display:grid;
    grid-template-rows:10% 10% 10%;
    gap:10px 10px;
}
.backgroud{
    background-color: rgb(35, 25, 170);
    color:white;
    border-radius:8px;

}
.basic{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px 10px;
}
.default{
    border-radius: 8px;
    padding: 10px;
    border: 1px solid gray;
    margin-right: 4px;
}
.dash{
    border:1px dashed gray;
    display: inline-flex;
    justify-items:center;
    justify-content:center;
    padding:10px;
}
.textbutton{
    padding:10px;
}
.linkbutton{
    padding:10px;
}
a {
  text-decoration: none;
}
.rounded{
    display:grid;
    grid-template-rows:repeat(2,1fr);
}
.rounded1,.rounded2{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px 10px;
}
.bsearch{
   border-radius: 70px;
    padding: 10px;
    border: 1px solid gray;
    margin-right: 4px;
    color:white;
    background-color:blue;  
    height:20px;
    width:20px;
    margin-top:30px;
}
.bletter{
    border-radius: 70px;
    padding: 10px;
    border: 1px solid gray;
    margin-right: 4px;
    color:white;
    background-color:blue;  
    height:20px;
    width:20px;
    margin-top:30px; 
    text-align:center;
}
.bsearchletter{
    display:flex;
    flex-direction: row-reverse;
   
}
.search-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    margin-top:30px;
    background-color:blue;
    color:white;
}

.search-btn svg {
    width: 20px;
    height: 20px;
}

.search-btn:hover {
    background-color: #e3e3e3;
}

.search{
   border-radius: 70px;
    padding: 10px;
    border: 1px solid gray;
    margin-right: 4px;
    color:black;
    background-color:white;  
    height:20px;
    width:20px;
    margin-top:30px;
}
.search-btn1{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    border: 1px solid #000;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    margin-top:30px;
    /* background-color:blue; */
    color:black;
}

.search-btn1 svg {
    width: 20px;
    height: 20px;
}

.search-btn1:hover {
    background-color: #e3e3e3;
}
.bsearch1{
    border-radius: 70px;
    padding: 10px;
    border: 1px solid gray;
    margin-right: 4px;
    color:black;
    background-color:white;  
    height:20px;
    width:20px;
    margin-top:30px;
}
.search-btn2{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    border: 1px dashed #000;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    margin-top:30px;
    /* background-color:blue; */
    color:black;
}

