body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
    /*  TODO */
    display:grid;
    grid-template-columns:700px 500px auto;
    grid-template-areas: "nav-left nav-center nav-right";
    gap:20px 20px;
    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    grid-area: nav-left;
}
.nav-right {
    /*  TODO */
    display:grid;
    grid-template-columns:35px 35px 35px;
    grid-template-areas:"material-icons material-icons material-icons";
    grid-area:nav-right;
    column-gap:50px;
    

}
.nav-center {
    /*  TODO */
    grid-area: nav-center;
    display:grid;
    grid-template-columns: 400px 40px;
    grid-template-areas:"text material-icons ";
    column-gap:5px;
    
}
.nav-center input {
    width: 90%;
    padding: 9px;
}
.nav-center i {
    background: #f5ecec;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}

header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 10px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    /*  TODO */
    margin-top:10px;
    background-color:gainsboro;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto;
    padding:10px;
    gap:20px 20px;
    justify-items:center;

}
.video {
   /*  TODO */
    display:grid;
    grid-template-rows:auto auto;
    grid-area:"video-thumbnail video-text";
    gap:10px;

 
}
.video-thumbnail img {
   /*  TODO */
   grid-area: video-thumbnailvideo-thumbnail;
}
.video-text {
  /*  TODO */
  display:grid;
  grid-template-columns:auto auto;
 
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}