body{
    background-color: rgb(34, 113, 142);
    height:100vh;
    width:100%-10%;
}
.container{
    height:100%;
    background-color: rgb(241, 240, 237);
    /* padding:20px; */
    display:grid;
    grid-template-rows:10% 80% 10%;
    border-radius:1rem;
    gap:10px 10px;
}
.header,.footer{
    background-color: azure;
    border: 1px solid #ccc;
}
.header{
    border-top-left-radius:1rem ;
    border-top-right-radius:1rem ;
    font-size: 40px;
    text-align: center;
    justify-content:center;
    justify-items:center;
    padding:20px;

}
.footer{
    border-bottom-left-radius:1rem ;
    border-bottom-right-radius:1rem ;
}
.inputname{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:5px 5px;
    padding:10px;
}
.lastname,.firstname{
    display:grid;
    padding:5px;
    color: rgb(4, 83, 57);
}
input[type="text"]{
    border-radius:0.2rem;
    /* box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5); */
}
.inputemail{
    display:grid;
    grid-template-rows:repeat(2,1fr);
    /* gap:5px 5px; */
    padding:15px;
    color: rgb(4, 83, 57);
}
input[type="email"]{
   border-radius:0.2rem; 
}
.inputpassword{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:5px 5px;
    padding:10px;
}
.confirmpassword,.password{
    display:grid;
    padding:5px;
    color: rgb(4, 83, 57);
}
input[type="password"]{
     border-radius:0.2rem;
}
.inputgender{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
.Hobbies,.gender{
    padding:15px;
}
.inputsource{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:10px;
    gap:5px 5px;
}
.range,.number{
    display:grid;
    grid-template-rows:repeat(2,1fr);
}
label{
    color:rgb(4, 83, 57);

}
.inputprofile{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:5px 5px;
    padding:10px;
}
.age{
    display:grid;
    gap:1px;
}
.inputBio{
    display:grid;
    padding: 10px;
}
.footer{
    display: flex;
    justify-content: flex-end; /* align horizontally to right */
    align-items: center;       /* center vertically */
    padding: 20px;             /* smaller padding */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: azure;
}
input[type="submit"] {
    border: none;
    background-color: rgb(4, 83, 57);
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    color: aliceblue;
    width: 20%;
    height: 60px;
}








