button{
    padding:10px 20px;
    background-color:#008CBA;
    color:white;
    border-radius: 5px;
     border: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color:#005f73; 
}