.pricing-container{
    background-color:gainsboro;
    display:flex;
    flex-direction: row;
    height:100vh;
    justify-content:center;
    align-items: center;
    row-gap: 20px;
    column-gap:20px;
    


}

.pricing-plan{
    display:flex;
    flex-direction: column;
    background-color:#AAC4F5;
    border-radius:5%;
    height:70%;
    box-shadow: 3px 3px rgb(47, 210, 243);
    text-align: center;
    margin-top:1px;
    gap:3rem;

}
.plan-title{
    height:10%;
    background-color: rgb(226, 183, 183);
    box-shadow: 3px 3px rgb(211, 170, 197);
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    color: #3297c6;
    text-shadow:2px 1px #44d77c;
    font-size: 30px;
}