.container{
    background-color: rgb(216, 216, 216);
    display:grid;
    height:100vh;
    grid-template-columns:100%;
    grid-template-rows:50% 50%;
    row-gap:10px;

}
.cart_container{
    background-color: aquamarine;
    display:grid;
    grid-template-columns:40% 20% 20% 20%;
    grid-template-rows:100%;
    justify-content:space-around;
    column-gap:2px;
}
.card{
    background-color: rgb(127, 232, 255);
}
.card_container1{
    background-color: aliceblue;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 40% 10% ;
    /* row-gap:2px; */
    padding:3px;
}
/* .image{
    background-color: antiquewhite;
} */

.card_title{
    background-color: rgb(195, 16, 40);
    /* margin-top:5px; */
}
.action{
    background-color: rgb(0, 0, 0);
     border-bottom-left-radius:0.5rem;
    border-bottom-right-radius:0.5rem;
   

}

.card_container2{
    background-color: aliceblue; 
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 40% 10% ;
    /* row-gap:2px; */
    padding:3px;
    
}
.card_container3{
    background-color: aliceblue;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 40% 10% ;
    /* row-gap:2px; */
    padding:3px;
    
}
.card_container4{
    background-color: aliceblue;
     display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 40% 10% ;
    /* row-gap:2px; */
    padding:3px;
    
}

.card{
    background-color: aquamarine;
    display:grid;
    grid-template-columns:20% 40% 20% 20%;
    grid-template-rows:100%;
    justify-content:space-around;
    column-gap:2px;
}
.card1{
    background-color: aliceblue;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 40% 10% ;
    /* row-gap:2px; */
    padding:3px;
}
/* .image{
    background-color: antiquewhite;
} */

.card_title1{
    background-color: rgb(37, 229, 23);
    /* margin-top:5px; */
}
.action{
    background-color: rgb(0, 0, 0);
     border-bottom-left-radius:0.5rem;
    border-bottom-right-radius:0.5rem;
   

}

.card2{
    background-color: aliceblue; 
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 40% 10% ;
    /* row-gap:2px; */
    padding:3px;
    
}
.card3{
    background-color: aliceblue;
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 40% 10% ;
    /* row-gap:2px; */
    padding:3px;
    
}
.card4{
    background-color: aliceblue;
     display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 40% 10% ;
    /* row-gap:2px; */
    padding:3px;
    
}